
.trade_in-container{
 text-align: center;
 justify-content: center;
 align-items: center;
 display: flex;
 height: 100vh;
}
.show {
 display: block;
}
.hide {
 display: none;
}
.trade_in_small_btn{
 margin-top: 30px;
 border-radius: 30px !important;
 background-color: #561ac8;
 font-family: Muli;
 font-size: 20px !important;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 letter-spacing: normal;
 text-align: center;
 color: #fff;
 padding: 10px 30px !important;
 width:200px !important;
 cursor: pointer;
}
.otp-entry-input-fileds {
 font-family: Muli;
 margin-top: 30px;
 font-size: 16px;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.75;
 letter-spacing: normal;
 text-align: center;
 color: #000;
 height: 100px;
}
.app {
 background-color: #561ac8;
 height: 100vh;
 width: 100%;
}
.summary-card-parent {
 padding: 50px;
 border-radius: 4px;
 background-color:#fff;
 display: flex;
 justify-content: center;
 min-width: 600px;
 align-items: center;
 height: auto;

}
.flex-with-center {
 display: flex;
 justify-content: center;
 align-items: center;
}
.user-otp{
 width: 240px !important; 
height: 49px !important;
border-radius: 4px !important;
background-color:#fff;
border: 1px solid gray;
margin-left: 20px;

}
.user-details-input{
 width: 540px !important; 
height: 49px !important;
border-radius: 4px !important;
background-color:#fff;
border: 1px solid gray;
margin-top: 10px;

}
.user-details-input input{
font-family: Muli;
font-size: 19px !important;
border: none !important;
}
.user-details-input-form{
padding: 25px;
}
.input-container .input {
font-family: Muli;
font-size: 19px !important;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.74;
letter-spacing: normal;
text-align: left;
color: #000;
border: none !important;
width:80%;
padding: 8px;
}
.input-container-label-for-mobileNumber{
 font-family: Muli;
 font-size: 19px !important;
 font-weight: normal;
 font-stretch: normal;
 font-style: normal;
 padding-bottom: 20px !important;
/*  margin-left: 40px; */
/*  line-height: 1.74; */
 letter-spacing: normal;
 text-align: left;
 color: #000;
}
.custom-input-class {
 height: 50px;
 width:50px;
 margin:10px;
 text-align: center;
 font-size: 20px;

}

